.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.main{
    width: 400px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding: 15px;
    margin-bottom: 200px;
}
form{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    flex-direction: column;
}
form button{
    margin-top: 15px;
    background-color: #1877f2;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 14px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
form button:hover{
    cursor: pointer;
}
form input {
    padding: 14px;
    border-radius: 6px;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
form input:focus-visible{
    outline: none;
}
form a {
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}
form p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 13px;
    width: 80%;
}

@media (max-width: 800px){
    .main{
        width: 300px;
    }
}
@media (max-width: 600px){
    .main{
        width: 250px;
    }
    form button{
        font-size: 16px;
    }
}